@media(min-height: 1024px) and (max-width: 1500px){
    #head{
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        max-height: 1220px;
    }

    #head{
        justify-content: flex-start;
    }
    
    #citacao{
        margin-top: 10rem;
    }
}

@media (max-width: 1378px){

    #oldSpiderman p{
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }

}

@media (max-width: 1183px){
    #oldSpiderman p{
        font-size: 1.3rem;
        padding: 1rem 2rem;
    }
}

@media (max-width: 1090px){
    #oldSpiderman p{
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }
}

@media (max-width: 1070px){
    .card-text{
        font-size: 1.5rem;
    }
}

@media (max-width: 1050px){

    #oldSpiderman{
        min-height: 140rem;
    }

    #oldSpiderman > div{
        margin: auto;
        flex-direction: column;
        align-items: center;
        width: 80vw;
    }
    
    #textOldSpider{
        margin: 2rem 0; 
        border-radius: 2rem; 
        width: 40vw; 
        min-width: 35rem;
    }

    
    
    #oldSpiderman figcaption{
        margin: auto;
        width: 30vw;
        min-width: 25rem;
    }

    #oldSpiderman figure img{
        width: 30vw;
        min-width: 25rem;
        height: auto;
    }
    
    
    #oldSpiderman figure{
        text-align: center;    
        width: 100%;
    }
}

@media (max-width: 920px){

    main h1, h2{
        font-size: 3rem;
    }

    #citacao{
        font-size: 3rem;
    }

    #head{
        min-height: 62rem;
    }

    #oldSpiderman{
        min-height: 135rem;
    }

    .sliderContent > p, #references p, footer{
        font-size: 1.7rem;
    }
}

@media (max-width: 1050px){
    #mobile-button{
        display: block;
        padding: 1.6rem;
        border: none;
        cursor: pointer;
        background: none;
        font-size: 2rem;
        font-size: 0;
    }

    #hamburger{
        color: white;
        display: block;
        width: 4rem;
        border-top: .3rem white solid;
        background: 1rem;

    }

    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 4rem;
        height: .3rem;
        background: currentColor;
        margin-top: .7rem;
        transition: ease .3s;
        position: relative;
    }

    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -.9rem;
    }

    #header-links{
        display: block;
        visibility: hidden;
        position: absolute;
        height: 100vh;
        width: 50vw;
        top: 6rem;
        right: 0;

        overflow-y: scroll;

        letter-spacing: 2rem;

        text-align: center;
        /* line-height: 15vh; */
        z-index: 1000;
        transform: translate(100%);

        background-color: #244673d3;

        transition: ease .5s;
        
    }

    #header-links a{
        opacity: 100%;
    }

    #header-links li{
        opacity: 45%;
        border-bottom: .1rem solid rgba(0, 0, 0, 0.637);
        margin-bottom: 6vh;

    }

    #header-links li:hover{
        opacity: 100%;
    }


    #nav.active #header-links{
        visibility: visible;
        transform: translate(0);
    }
    

    header{
        justify-content: space-between;
        padding: 0 2rem 0 2rem;
    }

    #cards .back ul {
        font-size: 1.2rem;
    }

    .buttons, .sliderContent, .slideContainer, .sliderContent img{
        width: 85vw;
    }
}

@media (max-width: 710px){

    #background-card{
        min-height: 110rem;
    }
    
    .card{
        flex-direction: column;
    }

    .card img{
        border-radius: 1.5rem 1.5rem 0 0;
        width: 30rem;
        height: auto;
    }

    .card-text{
        border-radius: 0 0 1.5rem 1.5rem;
        width: 30rem;
        min-height: 50rem;
    }

    .sliderContent img, .buttons, .sliderContent, .slideContainer{
        width: 80vw;
    }

}


@media (max-width: 600px){

    header{
        height: 5rem;
    }

    #header-links{
        top: 5rem;
    }

    #logo{
        height: 5rem;
    }

    #image-head{
        min-width: 15rem;
    }

    #citacao{
        font-size: 2rem;
        margin-right: 3rem;
    }

    #citacao p{
        font-size: 1.5rem;
    }

    .buttons button{
        font-size: 4rem;
    }

    #header-links{
        width: 100vw;
    }

    footer div{
        width: 100%;
        padding: 2rem 0;
    }
}

@media (max-width: 500px){

    main h1, h2{
        font-size: 2.2rem;
    }

    .sliderContent > p, #references p, footer{
        font-size: 1.5rem;
    }

    .buttons, .sliderContent, .slideContainer, .sliderContent img{
        width: 95vw;
    }
}

@media (max-width: 406px){

    main h1, h2{
        font-size: 2rem;
    }

    .sliderContent > p, #references p, footer{
        font-size: 1.3rem;
    }
}

@media (max-width: 370px){
 
    #textOldSpider{
        width: 80vw;
        min-width: auto;
    }

    #oldSpiderman p{
        font-size: 1.1rem;
    }
    
    #oldSpiderman figcaption{
        margin: auto;
        width: 70vw;
        min-width: auto;
    }

    #oldSpiderman figure img{
        width: 70vw;
        min-width: auto;
        height: auto;
    }

    .sliderContent img, .buttons, .sliderContent, .slideContainer{
        width: 90vw;
    }

}

@media (max-width: 320px){

    .card img{
        width: 100vw;
    }

    .card-text{
        width: 100vw;
    }

    blockquote{
        font-size: 1.7rem;
    }

    
}

@media (max-width: 300px){
    #header-links{
        text-align: end;
    }

    #header-links a {
        padding-right: 3rem;
    }

     
    #oldSpiderman p{
        font-size: 1rem;
    }
}

@media (max-width: 305px){
    #citacao{
        font-size: 1.7rem;
    }
}


/* HEIGHT */

@media (max-height: 360px) and (max-width: 800px){
    #header-links{
        font-size: 2.4rem;
        /* overflow: scroll; */
        height: 60vh;
        line-height: 5rem;
    }
}