:root{
    --vermelho-principal: #BF1736;
    --laranja: #D92B2B;
    --azul-principal: #244673;
    --azul-claro: #3088BF;
    --preto: #0D0D0D;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


body{
    height: 500rem;
    overflow-x: hidden;
}

img{
    -webkit-user-drag: none;
}

a{
    color: var(--laranja);
    font-weight: 600;
}

hr{
    height: .1rem;
    background-color: rgba(128, 128, 128, 0.5);
    margin: 1rem 0 1rem 0;
    border-radius: 2rem;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #244673d3;
    /* opacity: 50%; */
    align-items: center;
    height: 6rem;
    width: 100vw;
    z-index: 999;
}


#logo {
    height: 6rem;
}

#mobile-button{
    display: none;
}

#header-links {
    list-style: none;
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;

    min-width: 40rem;
    
    width: 40vw;

}

#header-links a{
    color: white;
    opacity: 45%;
}

#header-links a:hover{
    opacity: 100%;
    transition: ease-in .1s;
}

#head{
    display: flex;
    background: url("https://github.com/Jacksonleste/spiderman-page/blob/main/media/new%20york%20hq4.png?raw=true");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 95vh;
    min-height: 42rem;
    width: 100vw;
    max-height: 130rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

#image-head{
    /* height: 100vh;  */
    height: 45vw;
    min-height: 45rem;
    max-height: 98vh;
    object-fit: contain;

}

#citacao{
    padding-left: 5rem;
    display: flex;
    flex-direction: column-reverse;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: #0D0D0D .5rem .4rem .3rem;
    text-align: justify;
    width: 55rem;
    
    margin-right: 2rem;
    padding-bottom: 10rem;
}

#citacao p{
    font-size: 2rem;
    font-weight: 500;
}

/*
 EFEITO VIDRO

    background-color: rgba(255, 255, 255, 0, 0.100);
    backdrop-filter: blur(1.5rem);


*/
#background-card{
    display: flex;
    background: linear-gradient(180deg, var(--azul-principal), 70%, var(--vermelho-principal));
    min-height: 60rem;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    box-shadow: -1rem -1rem 1.5rem rgba(0, 0, 0, 0.5);
    user-select: none;
}

#cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    min-height: 30rem;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    overflow: hidden;
    margin: 0 1rem;
}



.card img{
    min-height: 45rem;
    height: 70vh;
    border-radius: 1.5rem 0 0 1.5rem;
    perspective: 70rem;
}

#cards .card.front.active{
    transform: rotateY(180deg);
    visibility: hidden;
    z-index: 0;
}

#cards .card.back.active{
    transform: rotateY(0deg);
    backface-visibility: hidden;
    z-index: 1;
    visibility: visible;
}

#cards .back ul {
    column-count: 2;
    column-gap: 2rem;
    font-size: 1.5rem;
}

.card.front, .card.back{
    position: absolute;
    transition: 1s;
}

.front{
    z-index: 1;
}

.back {
    transform: rotateY(180deg);
    visibility: hidden;
}


.card-text{
    min-height: 45rem;
    height: 70vh;
    display: flex;
    flex-direction: column;

    font-size: 2rem;
    border-radius: 0 1.5rem 1.5rem 0;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.24);

    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(1.5rem);
}

.card-text p{
    padding: 1rem 1.5rem 0 1.5rem;
}

.card-text ul{
    list-style: disc;
    padding: 1rem 1.5rem 0 3rem;

}





