:root{
    --vermelho-principal: #BF1736;
    --laranja: #D92B2B;
    --azul-principal: #244673;
    --azul-claro: #3088BF;
    --preto: #0D0D0D;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 500rem;
    overflow-x: hidden;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #244673d3;
    /* opacity: 50%; */
    align-items: center;
    height: 6rem;
    width: 100vw;
}

#logo {
    height: 6rem;
}

#mobile-button{
    display: none;
}

#header-links {
    list-style: none;
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;

    min-width: 40rem;
    
    width: 40vw;

}

#header-links a{
    color: white;
    opacity: 45%;
}

#header-links a:hover{
    opacity: 100%;
    transition: ease-in .1s;
}

#head{
    display: flex;
    background: url("https://github.com/Jacksonleste/spiderman-page/blob/main/media/new%20york%20hq4.png?raw=true");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 95vh;
    min-height: 42rem;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

#image-head{
    /* height: 100vh;  */
    height: 45vw;
    min-height: 45rem;
    max-height: 98vh;
    object-fit: contain;

}

#citacao{
    padding-left: 5rem;
    display: flex;
    flex-direction: column-reverse;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: #0D0D0D .5rem .4rem .3rem;
    text-align: justify;
    width: 55rem;
    
    margin-right: 2rem;
    padding-bottom: 10rem;
}

#citacao p{
    font-size: 2rem;
    font-weight: 500;
}


